<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      {% load staticfiles %}

    <link type="text/css" rel="stylesheet" href="{% static '/receptionistapp/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static '/receptionistapp/css/mystyles.css' %}"/>
    <script src="{% static "receptionistapp/js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "receptionistapp/js/rango-jquery.js" %}"></script>
    <script src="{% static "receptionistapp/js/bootstrap.min.js" %}"></script>
    <title>Welcome to Canon Inventory Management System</title>
</head>
<body>

{% block body %}





{% endblock %}

</body>
</html>