<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}

    <link type="text/css" rel="stylesheet" href="{% static '/receptionistapp/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static '/receptionistapp/css/mystyles.css' %}"/>
    <script src="{% static "receptionistapp/js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "receptionistapp/js/rango-jquery.js" %}"></script>
    <script src="{% static "receptionistapp/js/bootstrap.min.js" %}"></script>

    <title>CIMS receptionist panel</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">OPerations Panel </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'operations_view_cars' %}">Cars</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'operations_view_drivers' %}">Drivers</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'operations_view_driver_payments' %}">Driver Payments</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'operations_view_complaints' %}">Complaints</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




{% block body %}


{% endblock %}

<br/>
<ul>
  <li><a class="active" href="#">Cars</a></li>
  <li><a href="#">Drivers</a></li>
  <li><a href="#">Complaints</a></li>
</ul>

</body>
</html>